inherit_from: ../shapeformer/shapenet_scale.yaml
datamodule_opt:
  class: shapeformer.datamodule.DataModule
  kwargs:
    trainset_opt:
      class: null
      kwargs: {}
    valset_opt: 
      class: null
      kwargs: {}

    test_batch_size: 1
    testset_opt:
      class: shapeformer.data.paper_datasets.list_dataset.ListDataset
      kwargs:
        ditem_list: demo/dataset/demo.lst
        subsample: False
callbacks:
  vis_recon:
    class: shapeformer.models.shapeformer.shapeformer.VisShapeFormer
    kwargs:
      data_dir: experiments/demo_shapeformer/

      no_sanity_check: True
      every_n_epoch: 4
      end_tokens: [4096, 4096]

      top_k: 100
      top_p: 0.4
      depth: 4
      sample_n: 4

      resolution: [256,256]
      render_samples: 32
      visual_indices: all
